/* process */
.process{
  width: 6.36rem /* 1222/192 */;
  margin: 0 auto;
}
.process li{
  color: #fff;
  float: left;
  width: 3.15rem /* 604/192 */;
  height: 1.51rem /* 290/192 */;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin:0 .05rem /* 10/192 */ .05rem /* 10/192 */ 0;
}
.process li:nth-child(2n){
  margin-right: 0;
}
.process li:nth-child(1) {
  background-image: url("../img/index/2_03_min.jpg");
}
.process li:nth-child(2) {
  background-image: url("../img/index/2_04_min.jpg");
}
.process li:nth-child(3) {
  background-image: url("../img/index/1_03_min.png");
}
.process li:nth-child(4) {
  background-image: url("../img/index/2_06_min.jpg");
}
.process li a{
  color: #fff;
}
.bg_mask {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: opacity .3s;
  background-color: rgba(0, 0, 0, 0.7)
}
.process_des {
  position: absolute;
  font-size: .29rem /* 55/192 */;
  left: .39rem /* 75/192 */;
  bottom: .21rem /* 40/192 */;
  font-style: oblique;
}
.process_des p{
  font-size: .16rem /* 30/192 */;
  font-weight: 700;
}
.process_hover {
  text-align: center;
  font-size: .12rem /* 30/250 */;
}
.process_title .h4 {
  position: absolute;
  left: 50%;
  top: .18rem /* 35/192 */;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .5s;
  font-size: .21rem /* 40/192 */;
}
.process_title>p {
  position: absolute;
  left: 20%;
  top: .44rem /* 84/192 */;
  opacity: 0;
  transition: all .5s;
  font-size: .1rem /* 20/192 */;
}

.process_content {
  width: 100%;
  font-size: .08rem /* 16/192 */;
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
  top: 1.8rem /* 450/250 */;
}
.process_content>p {
  margin-bottom: .1rem /* 26/250 */;
}
.process_line {
  position: absolute;
  height: .01rem /* 2/250 */;
  width: .26rem /* 65/250 */;
  background-color: #de0400;
  top: .61rem /* 118/192 */;
  left: 70%;
  transition: all .5s;
  opacity: 0;
}
.process_content>p:last-child {
  margin-bottom: 0;
}
.process li:hover .bg_mask{
  opacity: 1;
}
.process li:hover .process_des{
  display: none;
}
.process li:hover .process_title>p{
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
.process li:hover .process_line{
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
}
.process li:hover .process_title .h4{
  opacity: 1;
}
.process li:hover .process_content{
  opacity: 1;
  top: .66rem /* 126/192 */;
}
/* advantage */
.advantage_title{
  text-align: center;
  font-size: .29rem /* 55/192 */;
  color: #fff;
  margin: .42rem /* 80/192 */ 0;
}
.advantage ul {
  width: 6.36rem /* 1222/192 */;
  margin: 0 auto;
}
.advantage ul li{
  text-align: center;
  margin-right: .08rem /* 20/250 */;
  float: left;
}
.advantage ul li:last-child{
  margin-right: 0;
}
.advantage ul li img{
  width: 2.05rem /* 394/192 */;
  height: 1.19rem /* 228/192 */;
  margin-bottom: .16rem /* 30/192 */;
}
.advantage ul li p{
  font-size: .09rem /* 18/192 */;
  color: #fff;
  letter-spacing: .01rem /* 2/192 */;
}
/*  platform */
.platform {
  margin-top: .63rem /* 120/192 */;
  text-align: center;
  font-size: .29rem /* 55/192 */;
  color: #fff;
}
.platform_list ul li{
  float: left;
  margin-right: .47rem /* 90/192 */;
}
.platform_list ul li:last-child{
  margin-right: 0;
}
.platform_list ul li .bg{ 
  width: .47rem /* 90/192 */;
  height: .48rem /* 92/192 */;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.platform_list .platform_1 li:nth-child(1) .bg{ 
  background-image: url(../img/index/tubiao_68.png);
}
.platform_list .platform_1 li:nth-child(2) .bg{ 
  background-image: url(../img/index/tubiao_70.png);
}
.platform_list .platform_1 li:nth-child(3) .bg{ 
  background-image: url(../img/index/tubiao_72.png);
}
.platform_list .platform_1 li:nth-child(4) .bg{ 
  background-image: url(../img/index/tubiao_74.png);
}
.platform_list .platform_1 li:nth-child(5) .bg{ 
  background-image: url(../img/index/tubiao_76.png);
}
.platform_list .platform_1 li:nth-child(6) .bg{ 
  background-image: url(../img/index/tubiao_78.png);
}
.platform_list .platform_2 li:nth-child(1) .bg{ 
  background-image: url(../img/index/tubiao_100.png);
}
.platform_list .platform_2 li:nth-child(2) .bg{ 
  background-image: url(../img/index/tubiao_102.png);
}
.platform_list .platform_2 li:nth-child(3) .bg{ 
  background-image: url(../img/index/tubiao_104.png);
}
.platform_list .platform_2 li:nth-child(4) .bg{ 
  background-image: url(../img/index/tubiao_106.png);
}
.platform_list .platform_2 li:nth-child(5) .bg{ 
  background-image: url(../img/index/tubiao_108.png);
}
.platform_list .platform_2 li:nth-child(6) .bg{ 
  background-image: url(../img/index/tubiao_110.png);
}
.platform_list .platform_3 li:nth-child(1)>.bg{ 
  background-image: url(../img/index/tubiao_132.png);
}
.platform_list .platform_3 li:nth-child(2) .bg{ 
  background-image: url(../img/index/tubiao_134.png);
}
.platform_list .platform_3 li:nth-child(3) .bg{ 
  background-image: url(../img/index/tubiao_136.png);
}
.platform_list .platform_3 li:nth-child(4) .bg{ 
  background-image: url(../img/index/tubiao_138.png);
}
.platform_list .platform_3 li:nth-child(5) .bg{ 
  background-image: url(../img/index/tubiao_140.png);
}
.platform_list .platform_3 li:nth-child(6) .bg{ 
  background-image: url(../img/index/tubiao_142.png);
}
.platform_list ul li:hover .bg {
  animation: rotate .5s linear infinite;
  -webkit-animation: rotate .3s linear infinite; /* Safari 和 Chrome */
  animation-iteration-count:1;
  -webkit-animation-iteration-count:1; /* Safari 和 Chrome */
}
@keyframes rotate {
  0% {
   transform: translateY(0) ;
  }
  25% {
    transform: translateY(.04rem /* 8/192 */);
  }
  50% {
    transform: translateY(.08rem /* 16/192 */) scale(1.1, 0.9);
  }
  75% {
    transform: translateY(.04rem /* 8/192 */) ;
  }
  100% {
    transform: translateY(0) ;
  }
}
.platform_list {
  margin-top: .52rem /* 100/192 */;
  font-size: .09rem /* 18/192 */;
}
.platform_list ul {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: .34rem /* 65/192 */;
}
.platform_list p {
  margin-top: .08rem /* 16/192 */
}
/* case */
.case {
  font-size: .29rem /* 55/192 */;
  color: #fff;
  margin-top: .47rem /* 90/192 */;
  text-align: center;
  position: relative;
}
.case_swiper {
  position: relative;
  overflow: hidden;
  margin-top: .42rem /* 80/192 */;
}
.case_swiper .swiper-container {
  width: 5.73rem /* 1100/192 */;
  height: 3.39rem /* 650/192 */;
  margin-left: auto;
  margin-right: auto;
}

.case_swiper .swiper-slide {
  width: 1.54rem /* 295/192 */;
  height: 3.11rem /* 598/192 */;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  position: relative;
}
.case_swiper .swiper-slide:last-child {
  margin-right: 0;
}
.case_swiper .swiper-slide img {
  width: 1.54rem /* 295/192 */;
  height: 3.11rem /* 598/192 */;
}
.case_swiper .swiper-control {
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index: 99;
}
.case_swiper .swiper-control img {
  height: .32rem /* 62/192 */;
  width: .32rem /* 62/192 */;
}
.case_swiper  p{
  margin-top: .13rem /* 25/192 */;
  font-size: .11rem /* 22/192 */;
}
.case_swiper .swiper-prev {
  left: 15%;
}
.case_swiper .swiper-next {
  right: 15%;
}

.case ul li p{
  margin-top: .13rem /* 25/192 */;
  font-size: .11rem /* 22/192 */;
}
.case ul li:last-child {
  margin-right: 0;
}
.case .l_btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 15%;
}
.case .r_btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15%;
}
/* news_informations */
.news_informations {
  color: #fff;
  background-color: rgba(54,41,62, .6);
  text-align: center;
  font-size: .29rem /* 55/192 */;
  padding-top: .31rem /* 60/192 */;
  padding-bottom: .47rem /* 90/192 */;
}
.news_informations >p{
  margin: .13rem /* 25/192 */ 0 .21rem /* 40/192 */ 0;
  font-size: .16rem /* 30/192 */;
}
.news_content {
  display: inline-block;
}
.content_newest,.news_list {
  float: left;
  width: 2.71rem /* 520/192 */;
}
.content_newest .newest_imgs{
  width: 2.6rem /* 500/192 */;
  height: 1.67rem /* 320/192 */;
  background-color: #fff;
}
.content_newest .newest_imgs img{
  width: 100%;
  height: 100%;
}
.newest_desc {
  text-align: left;
  font-size: .1rem /* 20/192 */;
}
.desc_title {
  overflow: hidden;
  margin-top: .06rem /* 12/192 */;
}
.desc_title > div {
  cursor: pointer;
  color: #f7f7f7;
  float: left;
  width: 2.34rem /* 450/192 */;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.newest_desc span{
  float: left;
  font-size: .08rem /* 16/192 */;
  color: #888;
  margin-top: .02rem /* 4/192 */;
  cursor: pointer;
}
.newest_desc p{
  color: #888;
  margin: 0;
  font-size: .09rem /* 18/192 */;
}

.list_item {
  color: #f7f7f7;
  padding: .01rem /* 2/192 */ .08rem /* 15/192 */;
  border: .01rem /* 2/192 */ solid #f7f7f7;
  display: flex;
  text-align: left;
  margin-bottom: .03rem /* 5/192 */;
}
.list_item > .date {
  font-size: .1rem /* 20/192 */;
  text-align: center;
}
.list_item > .line {
  height: .21rem /* 40/192 */;
  width: .01rem /* 2/192 */;
  background-color: #f7f7f7;
  margin: .03rem /* 5/192 */ .06rem /* 12/192 */;
}
.list_item_desc  {
  cursor: pointer;
  font-size: .1rem /* 20/192 */;
  line-height: .26rem /* 50/192 */;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.no_list {
  color: #888;
  font-size: .09rem /* 18/192 */;
}