#index{
  display: none;
}
#mobile{
  display: block;
}
body {
  background: #000;
}
.banner_m {
  padding-top: 51.6% /* 387/750 */;
}
#mobile:before {
  content: "";
  background: url(../../img/mobile/index/di.jpg) center no-repeat;
  background-size:cover;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: -1;
}
.particulars li{
  color: #fff;
  float: left;
  width: 49.5%;
  margin-right: 1%;
  margin-top: 1%;
  height: 6.27rem /* 470/75 */;
  background-repeat: no-repeat;
  background-size: cover;
  padding: .4rem /* 30/75 */ .4rem /* 30/75 */ .47rem /* 35/75 */ .47rem /* 35/75 */;
  box-sizing: border-box;
  font-size: .29rem /* 22/75 */;
}

.particulars .parts_num {
  font-size: .53rem /* 40/75 */;
}
.particulars .parts_title {
  line-height: .67rem /* 50/75 */;
  font-size: .35rem /* 26/75 */;
}
.particulars .parts_line {
  width: .53rem /* 40/75 */;
  height: 1px;
  background-color: #fe0101;
  margin: .05rem /* 4/75 */ auto .24rem /* 18/75 */ auto;
}
.particulars li .parts_cont {
  text-align: left;
  line-height: .45rem /* 34/75 */;
}
.particulars ul li:nth-child(even){
  margin-right: 0;
}
.particulars ul li:nth-child(-n+2){
  margin-top: 0;
}
.particulars ul li:first-child{
  background-image: url(../../img/mobile/index/2_10.png);
}
.particulars ul li:nth-child(2){
  background-image: url(../../img/mobile/index/2_12.png);
}
.particulars ul li:nth-child(3){
  background-image: url(../../img/mobile/index/2_16.png);
}
.particulars ul li:last-child{
  background-image: url(../../img/mobile/index/2_18.png);
}
.divis_title {
  color: #fff;
  font-size: .53rem /* 40/75 */;
  height: 2rem /* 150/75 */;
  line-height: 2rem /* 150/75 */;
}
.divis_title.case_m{
  height: 1.73rem /* 130/75 */;
  line-height: 2.13rem /* 160/75 */;
}
.divis_title.news_m{
  height: 2.13rem /* 160/75 */;
  line-height: 2.53rem /* 190/75 */;
}

.advantage_team >div{
  position: relative;
}
.advantage_des{
  font-size: .35rem /* 26/75 */;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #fff;
  height: 1.33rem /* 100/75 */;
  width: 6.67rem /* 500/75 */;
  line-height: 1.33rem /* 100/75 */;
  background-color:rgba(0, 0, 0, .8)
}
.operation_platform {
  display: inline-block;
}
.operation_platform li {
  float: left;
  margin-right: .93rem /* 70/75 */;
  margin-bottom: .73rem /* 55/75 */;
  width: 1.2rem /* 90/75 */;
}
.operation_platform ul li:last-child {
  margin-right: 0;
}
.operation_platform ul:last-child li {
  margin-bottom: 0;
}
.operation_platform li img{
  width: 1.07rem /* 80/75 */;
}
.operation_platform li p{
  font-size: .29rem /* 22/75 */;
  color: #fff;
  margin-top: .2rem /* 15/75 */;
}
.case_swiper_m {
  padding-top: .88rem /* 66/75 */;
  overflow: hidden;
  width: 9.6rem /* 720/75 */;
  height: 8.88rem /* 666/75 */;
  margin: 0 auto;
}
.case_swiper_m .swiper-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;;
}
.case_swiper_m .swiper-slide {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(1);
}

.case_swiper_m .my-slide-prev{
  transform: scale(1.1);
  z-index: 8;
}
.case_swiper_m .my-slide-next{
  transform: scale(1.1);
  z-index: 8;
}
.case_swiper_m .swiper-slide img {
  width: 3.47rem /* 260/75 */;
  height: 7.4rem /* 555/75 */;
  box-shadow: 1px 1px 10px 2px #000;
}
.case_swiper_m .swiper-slide-active,.swiper-slide-duplicate-active{
  transform: scale(1.2);
  z-index: 9;
}
.mt_title {
  color: #fff;
  font-size: .53rem /* 40/75 */;
}
.spe_news {
  display: inline-block;
  margin: 0 auto;
}
.news_img {
  width: 6.53rem /* 490/75 */;
  height: 3.73rem /* 280/75 */;
  background-color: #fff;
}
.newest_desc {
  text-align: left;
  font-size: .29rem /* 22/75 */;
}
.desc_title {
  overflow: hidden;
  margin-top: .16rem /* 12/75 */;
}
.desc_title > div {
  cursor: pointer;
  color: #f7f7f7;
  float: left;
  width: 6rem /* 450/75 */;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.newest_desc span{
  float: left;
  font-size: .24rem /* 18/75 */;
  color: #888;
  margin-top: .05rem /* 4/75 */;
  cursor: pointer;
}
.newest_desc p{
  color: #888;
  margin: 0;
  font-size: .24rem /* 18/75 */;
}
.rem_news {
  margin-top: .47rem /* 35/75 */;
  margin-bottom: .8rem /* 60/75 */;
}
.list_item {
  margin:0 auto;
  color: #f7f7f7;
  display: inline-block;
  padding: .03rem /* 2/75 */ .2rem /* 15/75 */;
  border: .03rem /* 2/75 */ solid #f7f7f7;
  display: flex;
  text-align: left;
  margin-bottom: .13rem /* 10/75 */;
  width: 7.07rem /* 530/75 */;
  box-sizing: border-box;
}
.list_item > .date {
  font-size: .27rem /* 20/75 */;
  text-align: center;
}
.list_item > .line {
  height: .53rem /* 40/75 */;
  width: .03rem /* 2/75 */;
  background-color: #f7f7f7;
  margin: .07rem /* 5/75 */ .16rem /* 12/75 */;
}
.list_item_desc  {
  cursor: pointer;
  font-size: .27rem /* 20/75 */;
  line-height: .67rem /* 50/75 */;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.no_list {
  color: #888;
  font-size: .24rem /* 18/75 */;
}